Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

component_management:
  individual_components:
    - component_id: ingestion
      name: "Guide Ingestion"
      paths:
        - "**/ingestion.py"

    - component_id: extraction
      name: "Pattern Extraction"
      paths:
        - "**/extraction.py"

    - component_id: generator
      name: "Rule Generation"
      paths:
        - "**/generator.py"

    - component_id: openrewrite
      name: "OpenRewrite Support"
      paths:
        - "**/openrewrite.py"

    - component_id: llm
      name: "LLM Integration"
      paths:
        - "**/llm.py"

    - component_id: schema
      name: "Data Models"
      paths:
        - "**/schema.py"

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

ignore:
  - "tests/**"
  - "examples/**"
  - "**/__pycache__/**"
  - "**/*.pyc"

Add path traversal validation to additional scripts (Issue #13)
  scripts/prepare_submission.py
  scripts/validate_rules.py
Due: none

Add context manager support to LLM providers (Issue #14)
  src/rule_generator/llm.py
Due: LLM Integration

Apply black formatting to exception handling changes
  src/rule_generator/llm.py
  src/rule_generator/validate_rules.py
Due: LLM Integration

Fix import ordering with isort
  src/rule_generator/extraction.py
  src/rule_generator/llm.py
Due: Pattern Extraction, LLM Integration

Optimize regex performance by compiling patterns at module level (Issue #28-32)
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/ingestion.py
  src/rule_generator/security.py
Due: Guide Ingestion, Pattern Extraction, Rule Generation

Add comprehensive docstrings to helper methods (Issue #33-37)
  src/rule_generator/extraction.py
Due: Pattern Extraction

Standardize error messages across codebase (Issue #38-42)
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/ingestion.py
  src/rule_generator/openrewrite.py
  src/rule_generator/validate_rules.py
Due: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support

Add comprehensive input validation (Issue #23-27)
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/security.py
Due: Pattern Extraction, Rule Generation

Add missing type hints to LLM and validation modules (Issue #11)
  src/rule_generator/llm.py
  src/rule_generator/validate_rules.py
Due: LLM Integration

Fix minor security concerns (Issues #58-60)
  src/rule_generator/file_utils.py
  src/rule_generator/llm.py
  src/rule_generator/security.py
Due: LLM Integration

Fix black formatting: break long line in file_utils.py
  src/rule_generator/file_utils.py
Due: none

Fix black formatting: break another long line in file_utils.py
  src/rule_generator/file_utils.py
Due: none

Fix exception handling: use RuntimeError with exception chaining
  src/rule_generator/file_utils.py
Due: none

Fix black formatting: keep long f-strings on single lines
  src/rule_generator/file_utils.py
  src/rule_generator/generator.py
  src/rule_generator/security.py
Due: Rule Generation

Fix isort: reorder typing imports (TYPE_CHECKING first)
  src/rule_generator/llm.py
Due: LLM Integration

Docs: Enhance module and script documentation (#54-57)
  scripts/analyze_kantra_output.py
  scripts/compare_rulesets.py
  scripts/show_rule_stats.py
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/llm.py
  src/rule_generator/validate_rules.py
Due: Pattern Extraction, Rule Generation, LLM Integration

Feat: Add comprehensive structured logging (#49-53)
  docs/logging.md
  scripts/generate_rules.py
  src/rule_generator/config.py
  src/rule_generator/extraction.py
  src/rule_generator/llm.py
  src/rule_generator/logging_setup.py
Due: Pattern Extraction, LLM Integration

Fix: Apply black formatting to logging code
  src/rule_generator/config.py
  src/rule_generator/extraction.py
  src/rule_generator/llm.py
  src/rule_generator/logging_setup.py
Due: Pattern Extraction, LLM Integration

Fix: Add missing trailing commas in extraction.py
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix: Resolve flake8 issues
  src/rule_generator/extraction.py
  src/rule_generator/logging_setup.py
Due: Pattern Extraction

Add comprehensive tests for security and logging modules
  tests/unit/test_logging_setup.py
  tests/unit/test_security.py
Due: none

Fix import ordering in test files
  tests/unit/test_logging_setup.py
  tests/unit/test_security.py
Due: none

Fix PerformanceTimer to support optional logger/operation
  src/rule_generator/logging_setup.py
Due: none

Fix 4 failing tests
  src/rule_generator/extraction.py
  tests/unit/test_logging_setup.py
  tests/unit/test_security.py
Due: Pattern Extraction

Remove problematic PerformanceTimer assertion from integration test
  tests/unit/test_logging_setup.py
Due: none

Add debug output to identify which assertion is failing
  tests/unit/test_logging_setup.py
Due: none

Fix integration test by not calling setup_logging()
  tests/unit/test_logging_setup.py
Due: none

Remove CODE_REVIEW_REPORT.md from version control
  .gitignore
  CODE_REVIEW_REPORT.md
Due: none

Strip markdown code blocks from LLM responses
  src/rule_generator/security.py
  tests/unit/test_security.py
Due: none

Add auto-correction for validation failures and scope pattern filter
  scripts/validate_rules.py
  src/rule_generator/extraction.py
Due: Pattern Extraction

Enable auto-fix in demo.sh validation steps
  scripts/demo.sh
Due: none

Integrate auto-fix into rule generation step
  scripts/generate_rules.py
Due: none

Add forceful language enforcement to test data generation
  scripts/generate_test_data.py
Due: none

Fix critical bug: prompt template variables not being substituted
  scripts/generate_test_data.py
Due: none

Fix template variable substitution using manual string replacement
  scripts/generate_test_data.py
Due: none

Apply black formatting to fix CI
  scripts/generate_rules.py
  scripts/generate_test_data.py
  scripts/validate_rules.py
Due: none

Fix flake8 errors: remove redundant import and f-string prefix
  scripts/generate_test_data.py
Due: none

Add alternation pattern detection for test code generation
  scripts/generate_test_data.py
Due: none

Fix Black formatting: split long if condition
  scripts/generate_test_data.py
Due: none

Fix flake8 E501: shorten code hint to fit line length limit
  scripts/generate_test_data.py
Due: none
