Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

Generate code hints for nodejs.referenced patterns
  scripts/generate_test_data.py
Due: none

Fix setTimeout pattern detection for single-line code generation
  scripts/generate_test_data.py
Due: none

Add autonomous test-fix loop with --max-iterations flag
  scripts/generate_test_data.py
Due: none

Enable autonomous test-fix loop in demo.sh
  scripts/demo.sh
Due: none

Fix test-fix loop: add missing re import and fix kantra glob
  scripts/generate_test_data.py
Due: none

Fix kantra test paths in test-fix loop
  scripts/generate_test_data.py
Due: none

Fix failure analysis in test-fix loop
  scripts/generate_test_data.py
Due: none

Fix rule ID regex to capture full IDs with hyphens
  scripts/generate_test_data.py
Due: none

Fix test-fix agent: YAML parsing and nodejs.referenced handling
  scripts/generate_test_data.py
Due: none

Add pattern-example validation to catch regex mismatches
  scripts/validate_rules.py
Due: none

Integrate comprehensive pattern validation into rule generation
  scripts/generate_rules.py
Due: none

Fix: Use both RuleValidator classes with distinct names
  scripts/generate_rules.py
Due: none

Fix failing tests: Update expectations to match current behavior
  tests/unit/test_generator.py
  tests/unit/test_validate_rules.py
Due: none

Document post-generation validation feature
  docs/reference/generate-rules.md
Due: none

Document autonomous test-fix loop feature
  docs/guides/complete-automation.md
  docs/guides/konveyor-submission-guide.md
Due: none

Remove test directories from version control
  .gitignore
  examples/output/dotnet-test/dotnetframework-to-dotnet8-cryptography.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-exception-handling.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-file-system.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-interop.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-process-management.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-uri-handling.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-visual-basic.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-windows-forms.yaml
  examples/output/dotnet-test/ruleset.yaml
  examples/output/openrewrite-test/java17/java11-to-java17-security.yaml
  examples/output/openrewrite-test/java17/ruleset.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-component-prop-change.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-component-prop-removal.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-component-renaming.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-css-variable-update.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-deprecation.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-implementation-update.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-prop-value-update.yaml
  examples/output/patternfly-v6-final-test/patternfly-v5-to-patternfly-v6-ui-component-alignment.yaml
  examples/output/patternfly-v6-final-test/ruleset.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-import-path-update.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-prop-value-update.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-ui-component-alignment.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-ui-component-prop-change.yaml
  examples/output/patternfly-v6-test-validation/patternfly-v5-to-patternfly-v6-ui-component-rename.yaml
  examples/output/patternfly-v6-test-validation/ruleset.yaml
  examples/output/test/spring-boot-3-to-quarkus-3-dependency-injection.yaml
  examples/output/test/spring-boot-3-to-quarkus-3-web.yaml
Due: none

Remove root-level test YAML files from version control
  .gitignore
  test-chain-no-filepattern.yaml
  test-chain-swapped-order.yaml
  test-chain-uppercase-filepaths.yaml
  test-chain-uppercase.yaml
  test-chain-variations.yaml
  test-chained-minimal-dir/ruleset.yaml
  test-chained-minimal-dir/test-chained-minimal.yaml
  test-chained-minimal.yaml
  test-nodejs-full.yaml
  test-nodejs-only.yaml
  test-pranav-exact.yaml
  test-simple-chain.yaml
  test-template-debug.yaml
Due: none

Remove test/debug markdown files from version control
  .gitignore
  MULTILINE_GREP_ISSUE.md
  NON_DETERMINISTIC_TESTS_ISSUE.md
  PATTERNFLY_TEST_BASELINE.md
  TEST_REVIEW.md
  TEST_VALIDATION_RESULTS.md
Due: none

Significantly improve test coverage from 77% to 86%
  src/rule_generator/generator.py
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
Due: Rule Generation

Push test coverage to 89% by adding edge case tests
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
Due: none

Fix critical issues: exception handling and YAML validation
  CODE_REVIEW_REPORT.md
  scripts/generate_test_data.py
  src/rule_generator/extraction.py
  src/rule_generator/ingestion.py
  src/rule_generator/openrewrite.py
  src/rule_generator/validate_rules.py
Due: Guide Ingestion, Pattern Extraction, OpenRewrite Support

Refactor extraction prompt to use Jinja2 templates
  requirements.txt
  src/rule_generator/extraction.py
  templates/extraction/lang/csharp.j2
  templates/extraction/lang/java.j2
  templates/extraction/lang/javascript.j2
  templates/extraction/main.j2
Due: Pattern Extraction

Fix high-severity issues: command injection, magic numbers
  scripts/generate_test_data.py
  src/rule_generator/config.py
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
Due: Pattern Extraction, Rule Generation

Add path traversal protection (Issue #13)
  scripts/generate_rules.py
  scripts/generate_test_data.py
  src/rule_generator/security.py
Due: none

Add input validation utilities (Issues #23-27)
  scripts/generate_rules.py
  scripts/generate_test_data.py
  src/rule_generator/security.py
Due: none

Eliminate code duplication with helper modules
  src/rule_generator/condition_builder.py
  src/rule_generator/file_utils.py
  src/rule_generator/generator.py
  src/rule_generator/validate_rules.py
Due: Rule Generation

Improve PEP 8 compliance with automated formatters (Issues #43-48)
  .flake8
  pyproject.toml
  scripts/analyze_kantra_output.py
  scripts/classify_existing_rules.py
  scripts/compare_rulesets.py
  scripts/generate_rule_viewer.py
  scripts/generate_rules.py
  scripts/generate_test_data.py
  scripts/prepare_submission.py
  scripts/show_rule_stats.py
  scripts/update_test_dependencies.py
  scripts/validate_rules.py
  src/rule_generator/__init__.py
  src/rule_generator/condition_builder.py
  src/rule_generator/config.py
  src/rule_generator/extraction.py
  src/rule_generator/file_utils.py
  src/rule_generator/generator.py
  src/rule_generator/ingestion.py
  src/rule_generator/llm.py
  src/rule_generator/openrewrite.py
  src/rule_generator/schema.py
  src/rule_generator/security.py
  src/rule_generator/validate_rules.py
  tests/integration/conftest.py
  tests/integration/test_cli.py
  tests/integration/test_complex_scenarios.py
  tests/integration/test_error_recovery.py
  tests/integration/test_openrewrite.py
  tests/integration/test_pipeline.py
  tests/unit/test_classify_rules.py
  tests/unit/test_claude_skill.py
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
  tests/unit/test_ingestion.py
  tests/unit/test_llm.py
  tests/unit/test_openrewrite.py
  tests/unit/test_schema.py
  tests/unit/test_validate_rules.py
Due: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

Add CI/CD automation for code quality checks on PRs
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: none

Fix flake8 E226, F541, and partial E501 violations
  scripts/classify_existing_rules.py
  scripts/generate_rules.py
  scripts/generate_test_data.py
  src/rule_generator/extraction.py
  src/rule_generator/validate_rules.py
Due: Pattern Extraction

Fix E501 violations in generator.py
  src/rule_generator/generator.py
Due: Rule Generation

Fix E501 violations in smaller scripts
  scripts/classify_existing_rules.py
  scripts/prepare_submission.py
  scripts/update_test_dependencies.py
  src/rule_generator/llm.py
Due: LLM Integration

Fix remaining E501 violations in generate_rule_viewer.py and schema.py
  scripts/generate_rule_viewer.py
  src/rule_generator/schema.py
Due: Data Models

Remove F541 from flake8 ignores as all violations are fixed
  .flake8
Due: none

Apply black formatting to recently modified files
  scripts/generate_rules.py
  scripts/show_rule_stats.py
  scripts/validate_rules.py
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
Due: Pattern Extraction, Rule Generation, Data Models

Fix F401 and F841 violations (unused imports and variables)
  scripts/classify_existing_rules.py
  scripts/generate_rules.py
  scripts/generate_test_data.py
  scripts/prepare_submission.py
  scripts/update_test_dependencies.py
  scripts/validate_rules.py
  src/rule_generator/generator.py
  src/rule_generator/ingestion.py
  src/rule_generator/openrewrite.py
  src/rule_generator/validate_rules.py
Due: Guide Ingestion, Rule Generation, OpenRewrite Support

Fix all F541 violations (empty f-strings)
  scripts/analyze_kantra_output.py
  scripts/compare_rulesets.py
  scripts/generate_rule_viewer.py
  scripts/generate_rules.py
  scripts/generate_test_data.py
  scripts/prepare_submission.py
  scripts/update_test_dependencies.py
  scripts/validate_rules.py
  src/rule_generator/validate_rules.py
Due: none

Add F841 to per-file ignores for scripts
  .flake8
Due: none

Add flake8 per-file ignores for tests directory
  .flake8
Due: none

Fix test failures caused by F541 auto-fix
  scripts/generate_rules.py
  src/rule_generator/ingestion.py
Due: Guide Ingestion

Fix broad exception handlers (Code Review Issues #6-10)
  src/rule_generator/extraction.py
  src/rule_generator/ingestion.py
  src/rule_generator/llm.py
  src/rule_generator/openrewrite.py
  src/rule_generator/validate_rules.py
Due: Guide Ingestion, Pattern Extraction, OpenRewrite Support, LLM Integration

Path conditions:
  Guide Ingestion: any of: **/ingestion.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Pattern Extraction: any of: **/extraction.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Rule Generation: any of: **/generator.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  OpenRewrite Support: any of: **/openrewrite.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  LLM Integration: any of: **/llm.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Data Models: any of: **/schema.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
