Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

component_management:
  individual_components:
    - component_id: ingestion
      name: "Guide Ingestion"
      paths:
        - "**/ingestion.py"

    - component_id: extraction
      name: "Pattern Extraction"
      paths:
        - "**/extraction.py"

    - component_id: generator
      name: "Rule Generation"
      paths:
        - "**/generator.py"

    - component_id: openrewrite
      name: "OpenRewrite Support"
      paths:
        - "**/openrewrite.py"

    - component_id: llm
      name: "LLM Integration"
      paths:
        - "**/llm.py"

    - component_id: schema
      name: "Data Models"
      paths:
        - "**/schema.py"

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

ignore:
  - "tests/**"
  - "examples/**"
  - "**/__pycache__/**"
  - "**/*.pyc"

Improve error messaging for demo-friendly output
  docs/DEMO-GUIDE.md
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix validator imports to use get_llm_provider
  scripts/validate_rules.py
Due: none

Integrate rule validator into demo script
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Document rule validation feature across all guides
  QUICKSTART.md
  README.md
  docs/guides/konveyor-submission-guide.md
  docs/presentation-outline.md
Due: none

Add rule viewer step to demo workflow (step 1c)
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Fix rule viewer to show all rules from directory
  scripts/demo.sh
Due: none

Add validation documentation and alignment improvements
  docs/reference/validate-rules.md
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix Kantra step to use entire rules directory
  scripts/demo.sh
Due: none

Auto-skip Kantra validation for non-Java migrations
  scripts/demo.sh
Due: none

Fix test generation to use non-empty rule files
  scripts/demo.sh
Due: none

Add --overwrite flag to Kantra analyze command
  scripts/demo.sh
Due: none

Fix Kantra output handling and use only custom rules
  scripts/demo.sh
Due: none

Use --enable-default-rulesets=false for Kantra
  scripts/demo.sh
Due: none

Fix demo step 2 to process all rule files, not just one
  scripts/demo.sh
Due: none

Fix incident counting in demo step 3
  scripts/demo.sh
Due: none

Fix Go 1.18 guide URL to use release notes instead of blog post
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Fix language detection to check labels before file patterns
  scripts/generate_test_data.py
Due: none

Add automatic JSON repair for malformed LLM responses
  src/rule_generator/extraction.py
Due: Pattern Extraction

Change demo step 3 to use 'kantra test' instead of 'kantra analyze'
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Fix rulesPath in test files to include rules/ directory
  scripts/generate_test_data.py
Due: none

Stream kantra test output in real-time instead of capturing
  scripts/demo.sh
Due: none

Add Spring Boot configuration file generation for test data
  scripts/generate_test_data.py
Due: none

Add Java import statement extraction to test data generation
  scripts/generate_test_data.py
Due: none

Enhance config file generation for Spring Boot test data
  scripts/generate_test_data.py
Due: none

Add explicit version requirements for Maven dependencies
  scripts/generate_test_data.py
Due: none

Fix rule generation for Maven dependencies and Java imports
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
Due: Pattern Extraction, Rule Generation

Fix rule generation and test data issues
  scripts/demo.sh
  scripts/generate_test_data.py
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
Due: Pattern Extraction, Rule Generation

Add Maven dependency relocation handling to extraction prompts
  src/rule_generator/extraction.py
Due: Pattern Extraction

Remove duplicate test output from demo script
  scripts/demo.sh
Due: none

Add accurate test summary to demo script
  scripts/demo.sh
Due: none

Fix rule ID generation to be globally unique across all files
  src/rule_generator/generator.py
Due: Rule Generation

Fix test summary parsing to check actual pass/fail counts
  scripts/demo.sh
Due: none

Make post-generation import verification PatternFly-specific
  scripts/generate_rules.py
  src/rule_generator/validate_rules.py
Due: none

Clarify nodejs.referenced vs builtin for method calls
  src/rule_generator/extraction.py
Due: Pattern Extraction

Add method call pattern detection to test generation
  scripts/generate_test_data.py
Due: none

Validate Before: code matches rule pattern in test generation
  scripts/generate_test_data.py
Due: none

Improve pattern validation and code generation for complex patterns
  scripts/generate_test_data.py
Due: none

Generate single-line code for multiline patterns
  scripts/generate_test_data.py
Due: none

Prioritize single-line code generation over multiline Before: examples
  scripts/generate_test_data.py
Due: none
