Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

component_management:
  individual_components:
    - component_id: ingestion
      name: "Guide Ingestion"
      paths:
        - "**/ingestion.py"

    - component_id: extraction
      name: "Pattern Extraction"
      paths:
        - "**/extraction.py"

    - component_id: generator
      name: "Rule Generation"
      paths:
        - "**/generator.py"

    - component_id: openrewrite
      name: "OpenRewrite Support"
      paths:
        - "**/openrewrite.py"

    - component_id: llm
      name: "LLM Integration"
      paths:
        - "**/llm.py"

    - component_id: schema
      name: "Data Models"
      paths:
        - "**/schema.py"

comment:
  layout: "reach,diff,flags,tree,components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main

ignore:
  - "tests/**"
  - "examples/**"
  - "**/__pycache__/**"
  - "**/*.pyc"

Apply black code formatting
  scripts/generate_test_data.py
  scripts/validate_rules.py
Due: none

Fix Strategy 9 to handle Go build directives with spaces
  scripts/validate_rules.py
Due: none

Improve test data generator to include pattern and Before examples
  scripts/generate_test_data.py
Due: none

Add auto-generation of config files and file-based patterns
  scripts/generate_test_data.py
Due: none

Increase kantra test timeout from 5 to 15 minutes
  src/rule_generator/config.py
Due: none

Add pattern normalization to handle double-escaped regex in JSX code hints
  scripts/generate_test_data.py
Due: none

Extract component names from import patterns to generate correct imports
  scripts/generate_test_data.py
Due: none

Fix PatternFly rule generation to use nodejs.referenced semantic analysis
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/validate_rules.py
Due: Pattern Extraction, Rule Generation

Fix prop pattern detection to exclude import/export keywords
  src/rule_generator/extraction.py
Due: Pattern Extraction

Make LLM response validation more forgiving to prevent chunk loss
  src/rule_generator/security.py
Due: none

Add conservative CSS keyword exclusions to prop pattern detection
  src/rule_generator/extraction.py
Due: Pattern Extraction

Replace aggressive JSON repair with targeted fixes
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix triple-backslash escape sequences in JSON repair
  src/rule_generator/extraction.py
Due: Pattern Extraction

Add debug output for JSON repair troubleshooting
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix JSON repair breaking valid escape sequences
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix invalid single-quote escapes in JSON strings
  src/rule_generator/extraction.py
Due: Pattern Extraction

Remove quote escaping that was adding invalid JSON escapes
  src/rule_generator/extraction.py
Due: Pattern Extraction

Reduce extraction chunk size to prevent LLM output truncation
  src/rule_generator/config.py
Due: none

Apply Black formatting to modified files
  scripts/generate_test_data.py
  scripts/validate_rules.py
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix flake8 linting errors
  KANTRA_NODEJS_PROVIDER_BUG.md
  scripts/demo.sh
  scripts/generate_test_data.py
  src/rule_generator/extraction.py
Due: Pattern Extraction

Update tests to match intentional behavior changes
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
  tests/unit/test_security.py
  tests/unit/test_validate_rules.py
Due: none

Add adaptive chunk splitting with retry logic for output truncation
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix logging and regex pattern building errors
  scripts/validate_rules.py
  src/rule_generator/llm.py
Due: LLM Integration

Improve pattern extraction validation to reduce false positives
  src/rule_generator/extraction.py
Due: Pattern Extraction

Fix combo rule generation for generic component names
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-component-replacement.yaml
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-improved/ruleset.yaml
  src/rule_generator/extraction.py
Due: Pattern Extraction

Reduce chunk size to prevent output truncation on pattern-dense content
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-component-replacement.yaml
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-import-path.yaml
  examples/output/patternfly-v6-improved/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  src/rule_generator/config.py
Due: none

Update Claude skill documentation with new quality improvements
  .claude/skills/konveyor-rules/README.md
  .claude/skills/konveyor-rules/SKILL.md
Due: none

Fix skill display name to match directory name
  .claude/skills/konveyor-rules/SKILL.md
Due: none

Update test to match new skill name
  tests/unit/test_claude_skill.py
Due: none

Remove bug report markdown files from version control
  GO_PROVIDER_FIX.md
  KANTRA_GOPLS_BUG_REPORT.md
  KANTRA_NODEJS_PROVIDER_BUG.md
Due: none

Remove fix_go_modules.sh from version control
  fix_go_modules.sh
Due: none
