Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models, Unit Tests, Integration Tests

Add CLI integration tests for generate_rules.py script
  tests/integration/test_cli.py
Due: none

Remove legacy manual test directory
  test/pr-test-files/README.md
  test/pr-test-files/test-brace-expansion.yaml
  test/pr-test-files/test-tsx-support.yaml
Due: none

Add complex scenario integration tests
  tests/integration/test_complex_scenarios.py
Due: none

Add comprehensive error recovery integration tests
  tests/integration/test_error_recovery.py
Due: none

Add integration tests coverage badge to README
  README.md
Due: none

Replace overall codecov badge with unit tests badge
  README.md
Due: none

Revert to single overall codecov badge
  README.md
Due: none

Fix codecov component configuration
  codecov.yml
Due: none

Fix GitHub Actions workflow to run all tests and upload coverage
  .github/workflows/tests.yml
Due: none

Simplify pytest command to avoid duplicate coverage options
  .github/workflows/tests.yml
Due: none

Add dummy API key for CI tests
  .github/workflows/tests.yml
Due: none

Fix CLI test mocking to patch correct import location
  .github/workflows/tests.yml
  tests/integration/test_cli.py
Due: none

Use glob patterns for component paths in codecov.yml
  codecov.yml
Due: none

Use exact paths instead of glob patterns for components
  codecov.yml
Due: none

Add Claude Code skill for interactive rule generation
  .claude/skills/konveyor-rules/README.md
  .claude/skills/konveyor-rules/SKILL.md
  README.md
Due: none

Add comprehensive demo scripts and examples for skill
  .claude/skills/konveyor-rules/DEMO.md
  .claude/skills/konveyor-rules/QUICK-DEMO.md
  .claude/skills/konveyor-rules/README.md
  .claude/skills/konveyor-rules/examples.md
Due: none

Add comprehensive tests for Claude Code skill
  tests/unit/test_claude_skill.py
Due: none

Add Claude Code skill for interactive rule generation (#12)
  .claude/skills/konveyor-rules/DEMO.md
  .claude/skills/konveyor-rules/QUICK-DEMO.md
  .claude/skills/konveyor-rules/README.md
  .claude/skills/konveyor-rules/SKILL.md
  .claude/skills/konveyor-rules/examples.md
  README.md
  tests/unit/test_claude_skill.py
Due: none

Add coverage files to .gitignore
  .gitignore
Due: none

Add PatternFly v5 test application for migration rule testing
  examples/test-apps/patternfly-test-app/package.json
  examples/test-apps/patternfly-test-app/src/App.tsx
  examples/test-apps/patternfly-test-app/src/styles.css
  examples/test-apps/patternfly-test-app/tsconfig.json
Due: none

Fix false positives in PatternFly component rules using hybrid approach
  examples/rulesets/patternfly-v5-to-v6/patternfly-v5-to-v6.yaml
Due: none

Add automatic hybrid rule generation for React components
  src/rule_generator/generator.py
  tests/unit/test_generator.py
Due: Rule Generation

Add recursive link following for comprehensive migration guide ingestion
  scripts/generate_rules.py
  src/rule_generator/ingestion.py
Due: Guide Ingestion

Add automatic chunking for large migration documentation
  src/rule_generator/extraction.py
Due: Pattern Extraction

Add hard size limit to chunking algorithm
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-breakpoints.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-charts.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-component-props.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-components.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-css-classes.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-css-variables.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-icon-imports.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-import-paths.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-import-structure.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-package-json.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-patternfly-upgrade.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-react-components.yaml
  examples/output/patternfly-improved-chunking/patternfly-5-to-patternfly-6-react-tokens.yaml
  examples/output/patternfly-improved-chunking/ruleset.yaml
  src/rule_generator/ingestion.py
Due: Guide Ingestion

Enhance React component hybrid detection heuristics
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-breakpoints.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-charts.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-component-groups.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-component-types.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-components.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-css-classes.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-css-variables.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-import-paths.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-package-version.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-patternfly-upgrade.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-react-tokens.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-toolbar.yaml
  examples/output/patternfly-final-chunking/patternfly-5-to-patternfly-6-wizard.yaml
  examples/output/patternfly-final-chunking/ruleset.yaml
  src/rule_generator/generator.py
Due: Rule Generation

Improve React component detection heuristics for hybrid rules
  src/rule_generator/generator.py
Due: Rule Generation

Add auto-generated PatternFly v5 to v6 rules with improved hybrid detection
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-breakpoints.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-charts.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-component-definition.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-component-groups.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-components.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-css-classes.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-css-variables.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-import-paths.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-package-version.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-patternfly-upgrade.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-react-components.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-react-tokens.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-toolbar.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-wizard.yaml
  examples/output/patternfly-improved-detection/ruleset.yaml
Due: none

Fix null check in chunking logic for guide content
  src/rule_generator/extraction.py
Due: Pattern Extraction

Update documentation: --follow-links flag and PatternFly ruleset validation
  QUICKSTART.md
  README.md
  docs/reference/generate-rules.md
  examples/rulesets/patternfly-v5-to-v6/README.md
Due: none

Add tests for link following and hybrid detection features
  tests/unit/test_generator.py
  tests/unit/test_ingestion.py
Due: none

Add import pattern improvements to rule generator
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-component-deprecation.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-component-props.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-component-renaming.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-library-structure-change.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-property-update.yaml
  examples/output/patternfly-improved-detection/patternfly-5-to-patternfly-6-ui-component-migration.yaml
  src/rule_generator/generator.py
  tests/unit/test_generator.py
Due: Rule Generation

Remove combo rule workarounds for nodejs provider
  src/rule_generator/generator.py
  tests/unit/test_generator.py
Due: Rule Generation

Remove combo rule workarounds for nodejs provider (#14)
  src/rule_generator/generator.py
  tests/unit/test_generator.py
Due: Rule Generation

Fix false positives: implement combo rules for component-scoped prop detection
  ANALYSIS_RESULTS.md
  FALSE_POSITIVE_FIXES.md
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
Due: Pattern Extraction, Rule Generation, Data Models

Path conditions:
  Guide Ingestion: any of: src/rule_generator/ingestion.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Pattern Extraction: any of: src/rule_generator/extraction.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Rule Generation: any of: src/rule_generator/generator.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  OpenRewrite Support: any of: src/rule_generator/openrewrite.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  LLM Integration: any of: src/rule_generator/llm.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Data Models: any of: src/rule_generator/schema.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Unit Tests: any of: tests/unit/**, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Integration Tests: any of: tests/integration/**, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
