Repository tsanders-rh/analyzer-rule-generator: changes, and which Codecov flags are due for each by the changed paths.
All: Guide Ingestion, Pattern Extraction, Rule Generation, OpenRewrite Support, LLM Integration, Data Models

Update test to reflect increased Anthropic max_tokens (16000)
  tests/unit/test_llm.py
Due: none

Add C# provider support for .NET migrations
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
Due: Pattern Extraction, Rule Generation, Data Models

Fix C# location type parsing to support CSharpLocationType enum
  src/rule_generator/extraction.py
Due: Pattern Extraction

Update C# prompt to enforce correct location type values
  src/rule_generator/extraction.py
Due: Pattern Extraction

Add comprehensive unit tests for C# provider support
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
Due: none

Add C# provider support for .NET migrations (#16)
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
  tests/unit/test_extraction.py
  tests/unit/test_generator.py
Due: Pattern Extraction, Rule Generation, Data Models

Add example .NET Framework to .NET 8 migration rules
  DOTNET_TEST_APPS.md
  examples/output/dotnet-test/dotnetframework-to-dotnet8-cryptography.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-exception-handling.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-file-system.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-interop.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-process-management.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-uri-handling.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-visual-basic.yaml
  examples/output/dotnet-test/dotnetframework-to-dotnet8-windows-forms.yaml
  examples/output/dotnet-test/ruleset.yaml
Due: none

Add rule deduplication and validation improvements
  scripts/generate_rules.py
  src/rule_generator/extraction.py
Due: Pattern Extraction

Add comprehensive improvement summary documentation
  RULE_GENERATOR_IMPROVEMENTS_SUMMARY.md
Due: none

Add test results and refined PatternFly rules
  TEST_RESULTS.md
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-component-props.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-component-structure.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-deprecated-import.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-import-path.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-prop-update.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-prop-value-update.yaml
  examples/output/patternfly-v6-refined/patternfly-v5-to-patternfly-v6-ui-component-alignment.yaml
  examples/output/patternfly-v6-refined/ruleset.yaml
Due: none

Implement post-generation LLM validation for rule quality improvement
  scripts/generate_rules.py
  src/rule_generator/validate_rules.py
Due: none

Fix variable name bug in validation integration
  scripts/generate_rules.py
Due: none

Add comprehensive summary of import verification implementation
  IMPORT_VERIFICATION_SUMMARY.md
Due: none

Implement auto-apply for validation improvements
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-css-variable-update.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-deprecated-import.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-import-path-update.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-prop-value-update.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-react-component-rename.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-react-component-usage.yaml
  examples/output/patternfly-v6-auto-improved/patternfly-v5-to-patternfly-v6-ui-component-alignment.yaml
  examples/output/patternfly-v6-auto-improved/ruleset.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-component-prop-change.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-component-prop-removal.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-component-rename.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-css-variable-update.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-import-path-change.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-prop-removal.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-react-component-rename.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-react-component-structure.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-react-import-path.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-react-prop-change.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-react-prop-removal.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-ui-component-alignment.yaml
  examples/output/patternfly-v6-with-import-verification/patternfly-v5-to-patternfly-v6-variant-change.yaml
  examples/output/patternfly-v6-with-import-verification/ruleset.yaml
  scripts/generate_rules.py
  src/rule_generator/validate_rules.py
Due: none

Fix post-generation validation to properly apply import verification improvements
  scripts/generate_rules.py
  src/rule_generator/validate_rules.py
Due: none

Fix YAML formatting and regex pattern in rule generator
  scripts/generate_rules.py
  src/rule_generator/generator.py
Due: Rule Generation

Add tests for YAML formatting and regex pattern fixes
  tests/integration/test_cli.py
  tests/unit/test_generator.py
Due: none

Fix test to match updated CLI output format
  tests/integration/test_cli.py
Due: none

Remove temporary and working markdown files
  ANALYSIS_RESULTS.md
  COMBO_FINAL_IMPROVEMENT_PLAN.md
  DOTNET_TEST_APPS.md
  FALSE_POSITIVE_FIXES.md
  IMPORT_VERIFICATION_SUMMARY.md
  POST_GENERATION_VALIDATION_DESIGN.md
  RULESET_COMPARISON_ANALYSIS.md
  RULE_GENERATOR_IMPROVEMENTS.md
  RULE_GENERATOR_IMPROVEMENTS_SUMMARY.md
  TEST_RESULTS.md
  examples/output/ANALYSIS_FINDINGS.md
  examples/output/CONVERSION_SUMMARY.md
  examples/output/NODEJS_REFERENCED_INVESTIGATION.md
  examples/output/patternfly-improved-detection-combo/COMBO_RULES_README.md
  examples/output/patternfly-v6/IMPROVEMENTS_SUMMARY.md
  media/OPENREWRITE_DEMO.md
Due: none

Improve rule message quality for Angular/TypeScript migrations
  src/rule_generator/extraction.py
  src/rule_generator/generator.py
Due: Pattern Extraction, Rule Generation

Add comprehensive unit tests for validate_rules module
  tests/unit/test_validate_rules.py
Due: none

Add comprehensive unit tests for validate_rules module (#18)
  tests/unit/test_validate_rules.py
Due: none

Add migration complexity classification support
  scripts/batch_classify_rulesets.sh
  scripts/classify_existing_rules.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
Due: Rule Generation, Data Models

Add comprehensive unit tests for migration complexity feature
  tests/unit/test_classify_rules.py
  tests/unit/test_generator.py
  tests/unit/test_schema.py
Due: none

Add comprehensive documentation for migration complexity feature
  README.md
  docs/guides/migration-complexity.md
  docs/reference/generate-rules.md
Due: none

Fix batch classifier to skip ruleset.yaml metadata files
  scripts/batch_classify_rulesets.sh
Due: none

Add migration complexity classification support (#19)
  README.md
  docs/guides/migration-complexity.md
  docs/reference/generate-rules.md
  scripts/batch_classify_rulesets.sh
  scripts/classify_existing_rules.py
  src/rule_generator/generator.py
  src/rule_generator/schema.py
  tests/unit/test_classify_rules.py
  tests/unit/test_generator.py
  tests/unit/test_schema.py
Due: Rule Generation, Data Models

Add directory support and rate limiting to generate_test_data.py
  scripts/generate_test_data.py
Due: none

Improve language detection to check filePattern in builtin conditions
  scripts/generate_test_data.py
Due: none

Add comprehensive test review documentation
  TEST_REVIEW.md
Due: none

Improve test code generation with pattern-specific prompts
  scripts/generate_test_data.py
Due: none

Extract code examples from rule messages for better test generation
  scripts/generate_test_data.py
Due: none

Enhance test data generation with directory support and improved code extraction (#20)
  TEST_REVIEW.md
  scripts/generate_test_data.py
Due: none

Add demo script and presentation materials
  .gitignore
  docs/DEMO-CHEATSHEET.md
  docs/DEMO-GUIDE.md
  docs/presentation-outline.md
  scripts/demo.sh
Due: none

Add configurable migration guide options to demo script
  docs/DEMO-CHEATSHEET.md
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Add Go 1.17→1.18 migration option to demo script
  docs/DEMO-CHEATSHEET.md
  docs/DEMO-GUIDE.md
  scripts/demo.sh
Due: none

Organize demo output by migration guide
  scripts/demo.sh
Due: none

Path conditions:
  Guide Ingestion: any of: **/ingestion.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Pattern Extraction: any of: **/extraction.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Rule Generation: any of: **/generator.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  OpenRewrite Support: any of: **/openrewrite.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  LLM Integration: any of: **/llm.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
  Data Models: any of: **/schema.py, but not: tests/**, examples/**, **/__pycache__/**, **/*.pyc
